{% extends 'base.html.twig' %}

{% block title %}
    <title>Kraken Infos et Modifs</title>
{% endblock %}


{% block header %}
    <h1 class="mt-5 mb-3 text-center">KRAKENs</h1>
    <nav>
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary btn-block mb-3" href="/">Voir tous les krakens</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-secondary btn-block mb-3" href="/kraken/new">Créer un nouveau kraken</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <H2 class="m-4 text-center">{{ kraken.name }}</h2>
{% endblock %}


{% block main %}
    <main class="container">
        <div class="container-fluid">
            <div class="row">
                {# Première colonne : modifications du kraken #}
                <div class="col">
                    <div class="container">
                        <div class="row mb-3">
                            <button id="tentacle-add-btn" class="btn btn-secondary btn-block mb-3" 
                                {% if tentacles|length == 8 %}disabled{% endif %}>
                                    Ajouter un tentacule
                            </button>
                            <button id="tentacle-remove-btn" class="btn btn-secondary btn-block mb-3"
                                {% if tentacles|length == 0 %}disabled{% endif %}>
                                    Supprimer un tentacule
                            </button>
                        </div>
                        <div class="row">
                            <button id="power-add-btn" class="btn btn-secondary btn-block mb-3">Ajouter un pouvoir</button>
                        </div>
                        {# formulaire ajout tentacule #}
                        <div id="tentacle-create-div" class="row d-none">                            
                            <form id="tentacle-create-form" data-kraken-id="{{ kraken.id }}" class="mb-3 w-100">
                                <div class="form-group">
                                    <label for="tentacle-name">Nom</label>
                                    <input type="text" class="form-control" id="tentacle-name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="tentacle-life-points">Points de vie</label>
                                    <input type="number" class="form-control" id="tentacle-life-points" name="life-points" min="6" max="36" required>
                                </div>
                                <div class="form-group">
                                    <label for="tentacle-force">Force</label>
                                    <input type="number" class="form-control" id="tentacle-force" name="force" min="12" max="16" required>
                                </div>
                                <div class="form-group">
                                    <label for="tentacle-dexterity">Dextérité</label>
                                    <input type="number" class="form-control" id="tentacle-dexterity" name="dexterity" min="12" max="16" required>
                                </div>
                                <div class="form-group">
                                    <label for="tentacle-constitution">Constitution</label>
                                    <input type="number" class="form-control" id="tentacle-constitution" name="constitution" min="12" max="16" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                <button type="button" class="btn btn-primary" id="tentacle-create-close">Annuler</button>
                            </form>
                        </div>
                        <div id="tentacle-remove-div" class="row d-none">
                            {% embed "/partial/tentacles-delete.html.twig" with { tentacles : tentacles } %}{% endembed %}
                        </div>
                        <div id="power-add-div" class="row d-none">
                            {% embed "partial/powers-add.html.twig" with { powers : powers} %}{% endembed %}
                        </div>
                        <div id="power-remove-div" class="row d-none">
                            {% embed "partial/powers-delete.html.twig" with { powers : powers } %}{% endembed %}
                        </div>
                    </div>
                </div>



                {# Deuxième colonne : informations du kraken #}
                <div class="col">
                    <div class="row">
                        <div class="col-3">Age :</div>
                        <div class="col-9">{{ kraken.age }} an{% if kraken.age > 1 %}s{% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Taille :</div>
                        <div class="col-9">{{ kraken.height }} mètre{% if kraken.height > 1 %}s{% endif %}</div>
                    </div>
                    <div class="row">
                        <div class="col-3">Poids :</div>
                        <div class="col-9">{{ kraken.weight }} tonne{% if kraken.weight > 1 %}s{% endif %}</div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3">Tentacules :</div>
                        <div class="col-9" id="tentacles-infos">
                            <br> {# remplacer le <br> par un bouton d'affichage oui/non #}
                            {% embed "partial/tentacles-infos.html.twig" with { tentacles : tentacles } %}{% endembed %}
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-3">Pouvoirs :</div>
                        <div class="col-9" id="powers-infos">
                            <br> {# remplacer le <br> par un bouton d'affichage oui/non #}
                            {% embed "partial/powers-infos.html.twig" with { powers : powers } %}{% endembed %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block script %}
    <script src="/js/display-management.js"></script>
    <script src="/js/tentacle-create.js"></script>
    <script src="/js/tentacle-delete.js"></script>
    <script src="/js/power-add.js"></script>
{% endblock %}