
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
            <th scope="col">Nom</th>
            <th scope="col">Points de vie</th>
            <th scope="col">Force</th>
            <th scope="col">Dextérité</th>
            <th scope="col">Constitution</th>
            </tr>
        </thead>
        <tbody>
            {% for tentacle in tentacles %}
            <tr class="tentacle">
                <td class="text-center">{{ tentacle.name }}</td>
                <td class="text-center">{{ tentacle.life_points }}</td>
                <td class="text-center">{{ tentacle.forcee }}</td>
                <td class="text-center">{{ tentacle.dexterity }}</td>
                <td class="text-center">{{ tentacle.constitution }}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>

{#
    <div class="tentacle">
    <div class="row">
        <div class="col-4">Nom :</div>
        <div class="col">{{ tentacle.name }}</div>
    </div>
    <div class="row">
        <div class="col-4">Points de vie :</div>
        <div class="col">{{ tentacle.life_points }}</div>
    </div>
    <div class="row">
        <div class="col-4">Force :</div>
        <div class="col">{{ tentacle.forcee }}</div>
    </div>
    <div class="row">
        <div class="col-4">Dextérité :</div>
        <div class="col">{{ tentacle.dexterity }}</div>
    </div>
    <div class="row mb-2">
        <div class="col-4">Constitution :</div>
        <div class="col">{{ tentacle.constitution }}</div>
    </div>
    </div>
#}